<%= form_with(model: commentar) do |form| %>
  <% if commentar.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(commentar.errors.count, "error") %> prohibited this commentar from being saved:</h2>

      <ul>
        <% commentar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% @artikel_id %>
  <div>
    <%= form.label :artikel_id, style: "display: block" %>
    <%= form.number_field :artikel_id,id: :commentar_artikel_id, value:artikel_id%>
  </div>

  <div>
    <%= form.label :zeit, style: "display: block" %>
    <%= form.datetime_field :zeit, value:Time.now.strftime("%Y-%d-%m %H:%M:%S %Z") %>
  </div>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_area :text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
